#userpanel_templates(style='display:none')
  #not_loggedin_template(type="text/template")
    h3 Not Authenticated
      #register
        a(href='/register') Register
      form(action='/login', method='post', id='login-form')
        p.error= message
        div
            label Username:
            input(type='text', name='username', id="username")
            label Password:
            input(type='password', name='password', id="password")
            input(type='submit', value='Log In', id='ignore')
      input(type='submit', value='Log In', id='pw-login-btn')
      #google-login
        input(type="submit", id="google-login-btn", value="GLogin")
      #twitter-login
        input(type="submit", id="twitter-login-btn", value="TLogin")
      #fb-login
        input(type="submit", id="fb-login-btn", value="FLogin")

  #loggedin_template(type="text/template")
    h3 Welcome {{username}}
    a(href='/logout') Logout