!!! 5
html
  head
    title= typeof(title) !== 'undefined' ? title : "MootFM"
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.9/backbone-min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.1/handlebars.min.js")

    //google analytics
    script(type="text/javascript")
  
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34239619-1']);
      _gaq.push(['_setDomainName', 'moot.fm']);
      _gaq.push(['_trackPageview']);
  
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    // twitter bootstrap on a cdn
    != css('bootstrap.combined.min')
    != css('mootfm')

    block head

  body
    - if (!user)
      h2 Not Authenticated
      #register
        a(href='/register') Register
      #password-login
        a(href='/login', style='border: 0px') Login with Password
      #google-login
        a(href='/auth/google', style='border: 0px')
          img(style='border: 0px', src='https://www.google.com/favicon.ico')
      #twitter-login
        a(href='/auth/twitter', style='border: 0px')
          img(style='border: 0px', src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')
      #fb-login.fb_button(style='background-position: left -188px')
        a.fb_button_medium(href='/auth/facebook')
          span#fb_login_text.fb_button_text
            Connect with Facebook
    - else
      h2 Welcome #{user.username}
      h3
        a(href='/logout') Logout

    #main
      block body
