!!! 5
html
  head
    title= typeof(title) !== 'undefined' ? title : "MootFM"
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.9/backbone-min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.1/handlebars.min.js")

    //google analytics
    script(type="text/javascript")  
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34239619-1']);
      _gaq.push(['_setDomainName', 'moot.fm']);
      _gaq.push(['_trackPageview']);
  
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    // twitter bootstrap on a cdn
    != css('bootstrap.combined.min')
    != css('mootfm')

    block head

  body
    include includes/userpanel

    #main
      block body
