!!! 5
html
  head
    title= typeof(title) !== 'undefined' ? title : "MootFM"
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')

    // twitter bootstrap on a cdn
    link(rel='stylesheet', href='//current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css')
  body
    #main
      != body
