!!! 5
html
  head
    title= typeof(title) !== 'undefined' ? title : "MootFM"
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js")

    // twitter bootstrap on a cdn
    != css('bootstrap.combined.min')
    != css('mootfm')
  body
    #main
      != body
