extends layout
block head

block body
  .container-fluid
    .row-fluid
    .span12
      #userpanel 
    .row-fluid
    .span2
      img(src="../logo200.jpg", height="100", width="100")
    .span8
      #title
    .span2
      a(href="mailto:info@moot.fm?Subject=MootFM is awesome!") info@moot.fm
    .row-fluid
    .span6
      h3 Pro
      #left-side
      #left-input
    .span6
      h3 Contra
      #right-side
      #right-input
      

  #templates(style='display:none')
    
    include includes/userpanel

    #title_template(type="text/template")
      .well
        #title
          h2 {{title}}

    #point_template(type="text/template")
      .well(rows=3)
        .pull-right
          h3 {{vote}}
          ul
            .unstyled
              a(href='#/{{parent}}/vote/{{id}}/1')
                i.icon-thumbs-up
            .unstyled
              a(href='#/{{parent}}/vote/{{id}}/-1')
                i.icon-thumbs-down
        a(href='#/{{id}}') {{title}}
        
    #input_template
      textarea.field.span6.input-xlarge(type="text", rows=3)

  script(src="/browserify.js")
