extends layout
block head

block body
  .container-fluid
    .row-fluid
    .span2
      img(src="../logo200.jpg", height="100", width="100")
    .span8
      #title
    .span2
      a(href="mailto:info@moot.fm?Subject=MootFM is awesome!") info@moot.fm
    .row-fluid
    .span6
      h3 Pro
      #left-side
      #input-left
        textarea.field.span6#new_pro_point_template.input-xlarge(type="text", rows=3)
    .span6
      h3 Contra
      #right-side
      #input-right
        textarea.field.span6#new_pro_point_template.input-xlarge(type="text", rows=3)

  #templates(style='display:none')

    #title_template(type="text/template")
      .well
        #title
          h2 {{title}}

    #point_template(type="text/template")
      .well(rows=3)
        .pull-right
          h3 {{votes}}
          ul
            .unstyled
              i.icon-thumbs-up
            .unstyled
              i.icon-thumbs-down
        a(href='#/{{id}}') {{title}}

  script(src="/browserify.js")
