
.container-fluid

#statement_container

#templates(style='display:none')

  #point_template(type="text/template")
    li
      a(href='#/{{id}}') {{title}}
  #title_template(type="text/template")
    h2 {{title}}
  #statement_template(type="text/template")
    .container-fluid
      .row-fluid
      .span12
        #title
      .row-fluid
      .span6
        h3 Pro
        #left-side
          #points
          textarea#new_pro_point_template.input-xlarge(type="text", rows=3)
      .span6
        h3 Contra
        #right-side
          #points
          textarea#new_contra_point_template.input-xlarge(type="text", rows=3)

!= js('statement')