
.container-fluid

#statement_container

#templates(style='display:none')

  #point_template(type="text/template")
    li
      a(href='#/{{id}}') {{title}}
  #title_template(type="text/template")
    h2 {{title}}
  #statement_template(type="text/template")
    .container-fluid
      .row-fluid
      .span12
        #title
      .row-fluid
      .span6
        #left-side
          #points
          textarea#new_point_template.input-xlarge(type="text", rows=3)
      .span6
        #right-side
          #points
          textarea#new_point_template.input-xlarge(type="text", rows=3)
      .row-fluid
      .span6
        .btn#pro_input_button Pro
      .span6
        .btn#contra_input_button Contra
!= js('statement')